body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background: linear-gradient(to bottom,#62B0DD, #ffffff); /* Set body background gradient */
    font-family: 'Cooper black';
}

header {
    background-color: #76BCE4;
    color: #000000;
    padding: 10px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header div {
    display: flex;
    align-items: center;
}

header div h1 {
    margin: 0; /* Remove default margin for h1 */
    font-family: 'Cooper black';
}

header img {
    height: 80px;
    width: auto;
    margin-right: 10px;
}

button {
    display: block;
    margin: 30px auto;
    padding: 25px; /* Adjust the padding to make the button bigger */
    font-size: 30px; /* Adjust the font size to make the button text bigger */
    border-radius: 15px;
    width: 275px;
    height: 150px;
    font-family: Franklin Gothic Heavy;
    background-color: #EDF6FA;
    border-color: #0B6599;
}

a {
    text-decoration: none;
    color: inherit; 
}

.info-box1 {
    width: 80%;
    padding: 0px;
    margin: 0px auto;
    display: block;
    border: 0px transparent #ccc;
    text-align: left;
    font-weight: bold;
    font-family: 'Cooper black';
    font-size: 25px;
}
.info-box2 {
    width: 80%;
    padding: 10px;
    margin: 10px auto;
    display: block;
    border: 1px transparent #ccc;
    text-align:justify;
    font-size: large;
}

.contact-box {
    width: 80%;
    padding: 10px;
    margin: 10px auto;
    display: block;
    border: 1px transparent #ccc;
    text-align:center;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

